html {
  overflow-y: auto;
  scroll-behavior: smooth;
}

.image-container {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-content {
  max-width: 1400px;
  max-height: calc((100vh - 112px));
  flex-grow: 1;
}

.main-content-column {
  display: flex;
  flex-direction: column;
  height: calc((100vh - 112px));
}

.flex-grow {
  flex: 1 0 auto;
  max-height: calc(100% - 95px);
}

.flex-shrink {
  flex: 0 1 auto;
}

.min-height {
  min-height: 200px;
}

.main-content-height {
  max-height: calc((100vh - 112px));
}

.scrollable {
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollable::-webkit-scrollbar {
  display: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.list-container {
  display: table;
  margin: auto;
}

.talkatoo-moon-list {
  min-width: calc(min(600px, 100%));
}

.list-wrapper {
  margin: 2em 0;
}

.list-header {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  margin-bottom: 1em;
}

.list-item {
  font-size: 16px;
  margin: 3px 0;
}

.list-item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.moon-option {
  margin-left: 0.5em;
}

.tooltip .tooltip-text {
  visibility: hidden;
  position: absolute;
  text-align: center;
  margin-top: 2px;
  margin-left: 8px;
  z-index: 1;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.close-icon:hover {
  cursor: pointer;
}

.clickable:hover,
.v-switch:hover .v-switch__thumb,
.v-slide-group__next:hover,
.v-slide-group__prev:hover {
  color: #03dac6 !important;
}

.v-switch__thumb {
  color: white;
}

.border {
  border: solid 1px white;
}

.v-card {
  background-color: rgba(51, 51, 51, 0.9);
  border-radius: 0.5em;
}

.v-expansion-panel {
  background-color: rgba(51, 51, 51, 0.9);
  border-radius: 0.5em;
}

.v-expansion-panel-title__overlay {
  background-color: rgba(51, 51, 51, 0);
}

.v-card-text {
  font-size: 15px;
}

.v-card-subtitle {
  font-size: 15px;
  color: white;
  opacity: 0.8;
}

.v-card .v-card {
  background-color: transparent;
}

.v-card-subtitle {
  white-space: normal;
}
